main {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.fg, .candy1, .candy2 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.bg {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.landing nav {
  position: absolute;
  display: flex;
  top: 40%;
  left: 0;
  width: 100%;
  height: 60%;
  background-image: url(../images/bg_candy.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

@media all and (min-width: 768px) and (max-width: 1280px) {
  .landing nav {
    height: 80%;
    top: auto;
    bottom: 0;
    background-position: bottom center;
  }
}

@media all and (orientation: portrait) {
  .landing nav {
    flex-direction: column;
  }
}

.landing nav .game_logo {
  height: 100%;
  align-self: center;
  justify-content: center;
}

@media all and (orientation: portrait) {
  .landing nav .game_logo {
    height: 33.33%;
  }
}

.landing nav .game_logo.catchABite {
  width: 28%;
  align-self: right;
}

.landing nav .game_logo.catchABite .bg {
  position: absolute;
  width: 28%;
  height: 100%;
  background-image: url(../images/logo_1_bg.png);
}

@media all and (orientation: portrait) {
  .landing nav .game_logo.catchABite .bg {
    width: 100%;
    height: 33.33%;
  }
}

.landing nav .game_logo.catchABite .fg {
  position: absolute;
  width: 28%;
  height: 100%;
  background-image: url(../images/logo_1_fg.png);
}

@media all and (orientation: portrait) {
  .landing nav .game_logo.catchABite .fg {
    width: 100%;
    height: 33.33%;
  }
}

.landing nav .game_logo.catchABite .candy1 {
  position: absolute;
  width: 28%;
  height: 100%;
  background-image: url(../images/logo_1_candy1.png);
}

@media all and (orientation: portrait) {
  .landing nav .game_logo.catchABite .candy1 {
    width: 100%;
    height: 33.33%;
  }
}

.landing nav .game_logo.catchABite .candy2 {
  position: absolute;
  width: 28%;
  height: 100%;
  background-image: url(../images/logo_1_candy2.png);
}

@media all and (orientation: portrait) {
  .landing nav .game_logo.catchABite .candy2 {
    width: 100%;
    height: 33.33%;
  }
}

@media all and (orientation: portrait) {
  .landing nav .game_logo.catchABite {
    width: 100%;
  }
}

.landing nav .game_logo.getAirheaded {
  width: 44%;
}

.landing nav .game_logo.getAirheaded .bg {
  position: absolute;
  width: 44%;
  height: 100%;
  background-image: url(../images/logo_2_bg.png);
}

@media all and (orientation: portrait) {
  .landing nav .game_logo.getAirheaded .bg {
    width: 100%;
    height: 33.33%;
  }
}

.landing nav .game_logo.getAirheaded .fg {
  position: absolute;
  width: 44%;
  height: 100%;
  background-image: url(../images/logo_2_fg.png);
}

@media all and (orientation: portrait) {
  .landing nav .game_logo.getAirheaded .fg {
    width: 100%;
    height: 33.33%;
  }
}

.landing nav .game_logo.getAirheaded .candy1 {
  position: absolute;
  width: 44%;
  height: 100%;
  background-image: url(../images/logo_2_candy1.png);
}

@media all and (orientation: portrait) {
  .landing nav .game_logo.getAirheaded .candy1 {
    width: 100%;
    height: 33.33%;
  }
}

.landing nav .game_logo.getAirheaded .candy2 {
  position: absolute;
  width: 44%;
  height: 100%;
  background-image: url(../images/logo_2_candy2.png);
}

@media all and (orientation: portrait) {
  .landing nav .game_logo.getAirheaded .candy2 {
    width: 100%;
    height: 33.33%;
  }
}

@media all and (orientation: portrait) {
  .landing nav .game_logo.getAirheaded {
    width: 100%;
  }
}

.landing nav .game_logo.floatAway {
  width: 28%;
}

.landing nav .game_logo.floatAway .bg {
  position: absolute;
  width: 28%;
  height: 100%;
  background-image: url(../images/logo_3_bg.png);
}

@media all and (orientation: portrait) {
  .landing nav .game_logo.floatAway .bg {
    width: 100%;
    height: 33.33%;
  }
}

.landing nav .game_logo.floatAway .fg {
  position: absolute;
  width: 28%;
  height: 100%;
  background-image: url(../images/logo_3_fg.png);
}

@media all and (orientation: portrait) {
  .landing nav .game_logo.floatAway .fg {
    width: 100%;
    height: 33.33%;
  }
}

.landing nav .game_logo.floatAway .candy1 {
  position: absolute;
  width: 28%;
  height: 100%;
  background-image: url(../images/logo_3_candy1.png);
}

@media all and (orientation: portrait) {
  .landing nav .game_logo.floatAway .candy1 {
    width: 100%;
    height: 33.33%;
  }
}

.landing nav .game_logo.floatAway .candy2 {
  position: absolute;
  width: 28%;
  height: 100%;
  background-image: url(../images/logo_3_candy2.png);
}

@media all and (orientation: portrait) {
  .landing nav .game_logo.floatAway .candy2 {
    width: 100%;
    height: 33.33%;
  }
}

@media all and (orientation: portrait) {
  .landing nav .game_logo.floatAway {
    width: 100%;
  }
}

.fg, .candy1, .candy2 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.bg {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
