// Color Variables
$color-bg: #FFF;
$airhead-blue: #0040A3;
$color-test: aqua;

$width: 2048px;
$height: 1200px;



@mixin portrait {
	@media all and (orientation : portrait) {
		@content;
	}
}

@mixin landscape {
	@media all and (orientation : landscape) {
		@content;
	}
}

@mixin mobile {
	@media all and (max-width : 768px) {
		@content;
	}
}

main {
	display: flex;
	flex-direction: column;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}

header {
	@include mobile {
		display: none;
	}
}


.test {
	font-family: 'uniform_roundedblack';
	//display: none;
}



































//